body {
    background-color: rgb(243, 243, 243);
}

.grid {
    display: grid;
    grid-template-columns:auto 450px;
}

p.title_b {
    line-height: 3;
}

.item, img{
    height: 100% !important;
    width:  100% !important;
}

.image {
    width:150px;
    height:100px;
  background-size: cover;
}
.sibar{
    display:flex;
    margin-bottom: 10px;
}

 img {
   width:  100% !important;
   width:  100% !important;
   background-size: cover;
    
}

.paragraph p{
    margin-left: 20px;
}
.title_{
    position: relative;
    padding: 10px;
}
.title_::before{
    background-color: red;
    content: "";
    width: 100%;
    height: 3px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
}

.last_Post{
    height:400px
}
.last_Post img{
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
}



/* start Hero */

.hero-container {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.hero {
  background: url('https://images.unsplash.com/photo-1467189386127-c4e5e31ee213?auto=format&fit=crop&w=1350&q=80') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 40px;
  transition: transform 2s;
}

.hero:hover {
  transform: scale(1.15);
}

.hero-stuff {
  position: absolute;
  top: 40px;
  left: 40px;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  font-family: sans-serif;
  color: #fff;
}

a.btn {
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 11px 30px;
  background-color: #636363;
  background-image: linear-gradient(to bottom,#636363,#000);
  color: #fff;
  text-transform: uppercase;
}

a.btn:hover {
  background-image: linear-gradient(to bottom,#000,#000);
}

p {
  font-family: sans-serif;
}


/*End Hero */